body
{
  background-color: #a8d9dd;
  color: rgb(0, 0, 0);
}
.App {
  text-align: center;
}
.gorevBg
{
   background-color:#ededed;
   border-radius: 6px;
   margin-bottom: 20px;
   padding: 10px 140px 10px 15px;
   text-align: left;
   font-size: 22px;
   position: relative;
}
.gorevBg .gorevText
{
   flex: 1;
  /* esnek olsun diye flex' e 1 değeri verdik. */
}
.gorevBg .done .gorevText
{
  text-decoration: line-through;
  opacity: 0.3;
  /* Görev tamamlandıysa opaklığı 0.3 olsun. */
}
.gorevBg div{
  /* görevBg içindeki divide esnek hale getirdim */
  display: flex;
  align-items: center;
}
.gorevNumarasi 
{
  color: rgb(20, 20, 20);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
.iconlar
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}
.check
{
  color: rgb(56, 113, 56);
}
.pen
{
  color:rgb(15, 117, 172);
}
.trashcan
{
  color: red;
}
.gorevBg .iconlar span
{
  margin: 0 3px 0 3px;
  cursor: pointer;
}
.gorevBg .iconlar span:hover
{
  color: black;
}
.mr-20
{
  margin-right: 20px;
}
.ekle
{
 background-color: #1d3657;
 color: white;
}
.iptal
{
  background-color: #8c2320;
  color:white ;
}